hr {
    border-top: 3px dotted #8c8b8b !important;
}

.ui-content {
    padding: 0;
}

.ui-input-text {
    margin: .5em !important;
}

.terminal {
    text-shadow: 0 0 0 !important;
}

#controls {
    display: none;
    padding: 5px;
}

#drawer {
    cursor: pointer;
}

#cmdline {
    padding: 5 0;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
